.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #f0d9b5;
}

.white {
  background-color: #b58863;
}

.selected {
  box-sizing: border-box;
  border: 2px solid black;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: yellowgreen;
}
